com.sevogle.common.email/out/
common.java/out/
common.thirdparty/out/
git-daemon-export-ok
com.sevogle.common.web/out/

/.DS_Store
/common.link/bin/
/common.link/common.log
/common.link/out/
/common.extension/bin/
/common.extension/blackbox.log