com.sevogle.common.email/out/
common.java/out/
common.thirdparty/out/
git-daemon-export-ok
com.sevogle.common.web/out/

/.DS_Store
/common.link/bin/
/common.link/common.log
/common.link/out/
/common.extension/bin/
/common.extension/blackbox.log
/common.extension/out/
/com.sevogle.common.web/gwt-2.4.0/
/com.sevogle.common.web/gwt-unitCache/
/common.thirdparty/gwt-sdk/
/com.sevogle.extension.loopback/bin/
/com.sevogle.extension.loopback/blackbox.log